@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.card {
  display: flex;
  gap: 1em;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out;
  height: 100%;
  border-top: 1px solid var.$neutral_color_700;
  padding-top: 1em;

  &:not(:first-child) {
    margin-top: 1em;
  }

  &.deleted {
    opacity: 0;
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }

  &_image {
    min-width: 130px;
    position: relative;
    aspect-ratio: 1/1;

    @media (max-width: 400px) {
      flex: 0 0 auto;
      width: 250px;
      margin: 0 auto;
    }

    img {
      border-radius: 0.15em;
    }
  }

  &_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    .info_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
    }

    .info_header {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      .header_title {
        h2 {
          font-size: 1.15em;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .header_delete {
        .trash {
          border: none;
          background: transparent;
          cursor: pointer;

          svg {
            font-size: 1.5em;
          }
        }
      }
    }

    .info_sizes {
      display: flex;
      align-items: center;
      gap: 0.5em;

      p {
        font-size: 0.9em;
      }
    }

    .info_footer {
      display: flex;
      justify-content: space-between;
      gap: 1em;

      .footer_price {
        p {
          font-size: 1.25em;
        }
      }
    }
  }
}
