@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.card {
  display: flex;
  gap: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  max-height: 200px;

  &:not(:last-child) {
    margin-bottom: 1em;
    border-bottom: 1px solid var.$neutral_color_700;
    padding-bottom: 1em;
  }

  &.deleted {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0px solid transparent;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    max-height: 500px;
  }

  &_image {
    flex: 1 1 25%;
    min-width: 120px;

    .image_container {
      position: relative;
      aspect-ratio: 1/1;

      @media (max-width: 400px) {
        max-width: 250px;
     margin: 0 auto;
      }

      img {
        border-radius: 0.15em;
      }
    }
  }

  &_info {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    .info_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
    }

    .info_some {
      display: flex;
      justify-content: space-between;
    }

    .info_title {
      font-size: 1.15em;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .info_price {
      font-size: 1.25em;
    }

    .info_stock {
      color: var.$neutral_color_700;
    }

    .info_buttons {
      display: flex;
      justify-content: space-between;
      gap: 1em;
    }
  }

  &_delete {
    .trash {
      border: none;
      background: transparent;
      cursor: pointer;

      svg {
        font-size: 1.5em;
      }
    }
  }
}
