@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.product {
  display: flex;
  flex-direction: column;
  aspect-ratio: 11/16;
  position: relative;

  &_wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .info_sizes {
      @include mix.Flex($gap: 1em);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #fffc;
      transition: max-height 0.15s ease-in-out, opacity 0.15s ease-in-out,
        visibility 0.15s ease-in-out;

      @include mix.OnlyPc {
        max-height: 0;
        overflow: hidden;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: var(--font-courier);
        font-size: 1em;
        margin: 0.5em 0;

        @include mix.OnlyPc {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .product_message {
      visibility: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #fffc;
      font-size: 0.9em;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.15s ease-in-out;

      p {
        padding: 0.5em 1em;
      }

      &.active {
        visibility: visible;
        max-height: 200px;
      }
    }
  }

  &_image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: filter 0.15s ease-in-out;
    background: var.$brand_color_300;
  }

  &_info {
    .info_wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      padding: 0.5em 0;

      @include mix.OnlyPc {
        padding: 1em;
        padding-top: 2em;
        padding-bottom: 1em;
      }
    }

    .info_footer {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      margin-top: 0.5em;

      .footer_title,
      .footer_price {
        font-size: 0.9em;
      }

      .footer_title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: bold;
      }
    }
  }

  @include mix.OnlyPc {
    &:hover {
      .product_image {
        filter: brightness(0.7);
      }

      .info_sizes {
        max-height: 200px;
      }
    }
  }

  &.loading {
    .info_sizes {
      visibility: hidden;
      opacity: 0;
    }
  }
}
