@use "@/styles/_dirs/variables" as var;

@mixin OnlyPc {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin Scroll {
  &::-webkit-scrollbar {
    max-width: 10px;
    background: var.$clr-light-hard;
    border-radius: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background: var.$clr-dark-normal;

    &:hover {
      background: clr-dark-normal5;
    }
  }
}
