$darkest_color: #1d1e2c;
$lightest_color: #fff;

$light_text_color: #fff;

$dark_text_color: #040316;
$dark_text_color: #03031a;

//brand colors
$brand_color_100: #ffe5ec;
$brand_color_200: #ffc2d1;
$brand_color_300: #ffb3c6;
$brand_color_400: #ff8fab;
$brand_color_500: #fb6f92;

//main colors

$sec_color: #02153d;

// Support color are used to give the user a message. For example, error, success, message log. Make them more desaturated
$support_color_err: #cc0014;
$support_color_rght: #00aa64;
$support_color_mesg: #657ff0;

// Neutral colors
$neutral_color_900: #000000;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_200: #eeeeee;
$neutral_color_100: #ffffff;
