$clr-dark-soft: #4c4d4c;
$clr-dark-normal: #1d1e2c;
$clr-dark-hard: #000;

$clr-light-soft: #b0b0b0;
$clr-light-normal: #f5f5f5;
$clr-light-hard: #fff;

//brand colors
$brand_color_100: #ffe5ec;
$brand_color_200: #ffc2d1;
$brand_color_300: #ffb3c6;
$brand_color_400: #ff8fab;
$brand_color_500: #fb6f92;

// Support colors
$support_color_err: #cc0014;
$support_color_scss: #00aa64;
$support_color_mesg: #657ff0;
$support_color_warn: #ffab04;

// Neutral colors
$neutral_color_900: #000000;
$neutral_color_800: #1b1b1b;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_200: #e2e2e2;
$neutral_color_100: #fff;
