@use "@/styles/_dirs/variables" as var;

.carousel {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;

  &_wrapper {
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, calc(100% / 4 - 1em));

    @media (max-width: 768px) {
      grid-template-columns: repeat(5, calc(225px - 1em));
      min-width: fit-content;
    }

    > div {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 768px) {
        flex: 0 0 calc(250px);
      }
    }

    &.animation {
      transition: 0.2s ease-in-out;
    }
  }
}
