@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.quantity {
  display: flex;
  width: fit-content;
  border-radius: 0.5em;
  overflow: hidden;

  button {
    display: flex;
    align-items: center;
    height: inherit;
    border: none;
    padding: 0.5em;
    background: var.$sec_color;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;

    svg {
      display: block;
      color: var.$neutral_color_100;
    }

    @include mix.OnlyPc {
      &:hover {
        background: var.$brand_color_900;

        svg {
          color: var.$dark_text_color;
        }
      }
    }
  }

  input {
    max-width: 42px;
    padding: 0.5em;
    outline: none;
    border: none;
    text-align: center;
    background: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &:has(input:focus) {
    border-color: var.$sec_color;
  }
}
