@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.contact {
  display: flex;
  min-height: 100dvh;

  @media (min-width: 1600px) {
    min-height: 600px;
  }

  &_container,
  &_image {
    flex: 1 1 50%;
  }

  &_container {
    @include mix.Flex($gap: 2em, $direction: column);
    padding: 7em 2em;
    padding-bottom: 3em;
    min-height: 100dvh;

    @media (min-width: 1600px) {
      min-height: 600px;
    }
  }

  &_wrapper {
    max-width: 400px;
    width: 100%;

    @media (max-width: 960px) {
      max-width: 500px;
    }
  }

  &_header {
    h1 {
      color: var.$clr_dark_normal;
    }

    p {
      font-size: 0.9em;
      color: var.$clr_dark_soft;
      margin-top: 0.5em;
    }
  }

  &_form {
    width: 100%;
    margin-top: 3em;
  }

  &_image {
    position: relative;
    width: 100%;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &_info {
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      h2 {
        font-size: 1.25em;
      }

      p {
        text-align: center;
      }

      a {
        color: var.$brand_color_500;
        text-decoration: underline;
      }
    }
  }
}
