@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;
@use "@/styles/_dirs/accessibility" as acc;

.collection {
  min-height: 500px;
  padding: 3em 0.5em;

  &_header {
    @include mix.Flex($jc: space-between, $gap: 2em);
    padding: 0 0.5em;
    margin-bottom: 2em;

    .header_title {
      h2 {
        font-size: 1.25em;
        letter-spacing: 0.25em;
      }
    }

    .header_manager {
      display: flex;
      align-items: center;
      gap: 1.5em;

      .manager_sort {
        position: relative;

        > div {
          height: fit-content;
        }
      }

      .manager_radios {
        display: flex;
        gap: 0.5em;
        border: none;

        legend {
          @include acc.VisibleOnlyForScreenReaders;
        }

        @media (max-width: 1000px) {
          display: none;
        }
      }
    }
  }

  &_group {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1em 0.75em;

    @media (min-width: 1001px) {
      &.grid-2 {
        grid-template-columns: repeat(2, minmax(150px, calc(50% - 0.75em)));
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}
