@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.hero {
  position: relative;
  padding: 0 2em;
  background: var.$brand_color_400;

  &_wallpaper {
    pointer-events: none;

    img {
      filter: brightness(0.4);
    }
  }

  &_container {
    display: flex;
    align-items: flex-end;
    padding: 7em 0;
    min-height: 100vh;
  }

  &_content {
    color: var.$clr-light-hard;
    max-width: 400px;
    width: 100%;

    .content_title {
      margin-bottom: 1em;
    }

    .content_text {
      p {
        line-height: 1.5em;
      }
    }
  }
}
