@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background: var.$clr-light-hard;
  color: var.$clr-dark-normal;

  @include mix.Scroll;
}

a {
  color: inherit;
  text-decoration: none;

  &[href^="/under-construction"] {
    cursor: not-allowed;
  }
}

a,
p,
span {
  font-weight: 500;
}
