@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var.$dark_text_color;
  background: var.$brand_color_500; 
  background: #fff; 

  @include mix.Scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
p,
span {
  font-weight: 500;
}
