@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.notfound {
  padding: 0 2em;

  &_container {
    @include mix.Flex($direction: column, $gap: 0.5em);
    min-height: 100vh;
    padding-top: 7em;
    padding-bottom: 7em;

    @media (min-width: 1620px) {
      min-height: 600px;
    }

    h1 {
      font-size: clamp(3em, 3em + 5vw, 8em);
    }

    a {
      text-decoration: underline;
      margin-top: 1em;
    }
  }

  &_joke {
    p {
      text-align: center;
    }
  }
}
