@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.link {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 0.95em;
  border-radius: 0.1em;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &.v1 {
    background: var.$clr-light-hard;
    color: var.$brand_color_500;

    @include mix.OnlyPc {
      &:hover {
        color: var.$brand_color_500;
        background: var.$clr-dark-normal;
      }
    }
  }

  &.v2 {
    color: var.$brand_color_500;
    background: var.$clr-dark-normal;

    @include mix.OnlyPc {
      &:hover {
        background: var.$clr-light-hard;
        color: var.$brand_color_500;
      }
    }
  }
}
