@use "@/styles/_dirs/variables" as var;

.loading {
  width: 100%;
  height: 100%;
  border: 2px dashed var.$neutral_color_900;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1.5s ease-in-out infinite spin;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    pointer-events: none;
  }

  @keyframes spin {
    0%,
    60% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
