.notfound {
  padding: 0 2em;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    min-height: 100vh;
    padding-top: 7em;
    padding-bottom: 7em;

    @media (min-width: 1420px) {
      min-height: 500px;
    }

    h1 {
      font-size: clamp(3em, 3em + 5vw, 8em);
    }

    a {
      text-decoration: underline;
      margin-top: 1em;
    }
  }

  &_joke {
    p {
      text-align: center;
    }
  }
}
