@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  max-width: 500px;
  background: var.$neutral_color_100;
  box-shadow: 0 -2px 5px #0003;
  transition: width 0.25s ease-in-out;
  z-index: 999;
  overflow: hidden;

  &.open {
    width: 450px;
  }

  @media (max-width: 500px) {
    &.open {
      width: 100%;
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
