@use "@/styles/_dirs/variables" as var;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: var.$clr-dark-normal;

  &_container {
    padding: 7em 0;
    display: flex;
    align-items: center;
    gap: 2em;
    min-height: 100vh;

    @media (min-width: 1620px) {
      min-height: 550px;
    }

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      padding-bottom: 0;
    }
  }

  &_image {
    position: absolute;
    width: 85%;
    height: 140%;
    bottom: -50%;
    left: 32.5%;
    pointer-events: none;
    user-select: none;
    z-index: 2;

    @media (max-width: 1000px) {
      position: relative;
      bottom: 0;
      left: 0;
      width: 50%;
      min-width: 400px;
      aspect-ratio: 1/1;

      img {
        object-fit: cover !important;
        object-position: 0 0;
      }
    }
  }

  &_wrapper {
    display: flex;
    align-items: center;
    gap: 2em;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      gap: 0;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: var.$brand_color_200;
  padding: 1em;
  border-radius: 0.1em;
  z-index: 20;

  @media (max-width: 600px) {
    flex-direction: row;
  }

  svg {
    font-size: 1.3em;
  }
}

.action {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 400px;
  width: 100%;
  padding: 2em;
  text-align: center;
  position: relative;

  &_title,
  &_text,
  &_button {
    z-index: 3;
  }

  &_title {
    h1 {
      font-size: 3em;
      text-transform: uppercase;
      font-style: italic;
      line-height: 0.8em;
      font-weight: 500;
      color: var.$clr-dark-normal;
    }
  }

  &_text {
    p {
      color: var.$clr-dark-soft;
    }
  }

  &_button {
    a {
      box-shadow: 0 5px 10px 0px #0003;
    }
  }
}
