@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/accessibility" as acc;

.products {
  padding: 0 1em;
  min-height: 700px;
  overflow: clip;

  &_container {
    min-height: 600px;
    padding-top: 7em;
    padding-bottom: 3em;
    width: 100%;
  }

  &_wrapper {
    opacity: 1;
    transition: 0.15s ease-in-out;

    &.animated {
      transform: translateY(200px);
      opacity: 0;
    }

    @media (max-width: 1100px) {
      &.animated {
        transform: translateX(200px);
        opacity: 0;
      }
    }
  }

  &_manager {
    display: flex;
    justify-self: center;
    gap: 1em;
    margin-top: 2em;
    position: relative;
    background: var.$clr-light-hard;
    z-index: 3;
    border: none;

    box-shadow: 0 0 5px #0003;
    border-radius: 0.5em;
    padding: 1em;

    legend {
      @include acc.VisibleOnlyForScreenReaders
    }
  }
}
