@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.merchant_video {
  position: relative;
  height: 500vh;
  overflow: clip;

  .video_container {
    overflow: clip;
    width: 100%;
    max-height: 100dvh;
    height: 100dvh;
    margin-top: 7em;
    position: sticky;
    top: 0;

    //Sass was bug, so I had to not use shorthand
    animation-name: scale;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-timeline: scroll();
    animation-range: entry 30% exit 85%;

    .video_mp4 {
      background: var.$brand_color_100;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .video_manager {
      position: absolute;
      inset: 0;
      padding-left: 2em;

      .manager_container {
        display: flex;
        align-items: flex-end;
        height: 100%;

        padding-bottom: 2em;

        button {
          background: transparent;
          border: none;
          cursor: pointer;

          svg {
            font-size: 2em;
            color: var.$clr-light-hard;
          }
        }
      }
    }
  }

  .video_footer {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #0003;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  10% {
    border-radius: 1em;
  }

  90%,
  100% {
    border-radius: 1em;
    transform: scale(0.65);
  }
}
