@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 0.5em;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  width: 35px;
  aspect-ratio: 1/1;

  &.normal {
    svg {
      display: block;
      transform: scale(0);
      opacity: 0;
      animation: 1s ease-in-out forwards appear;
    }

    @keyframes appear {
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &.dotting {
    .dots {
      display: flex;
    }
  }

  > svg {
    display: none;
  }

  .dots {
    display: none;
    justify-content: center;
    gap: 0.25em;
    width: 100%;

    .dot {
      background: #000;
      border-radius: 50%;
      width: calc(100% / 3 - 0.25em);
      aspect-ratio: 1/1;
      opacity: 0;
      transform: scale(0);
      animation: 0.5s ease-in-out alternate infinite dotting;

      &:nth-child(1) {
        animation-delay: 0.16s;
      }

      &:nth-child(2) {
        animation-delay: 0.32s;
      }

      &:nth-child(3) {
        animation-delay: 0.5s;
      }

      @keyframes dotting {
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  @include mix.OnlyPc {
    // &:hover {
    //   background: #000;

    //   svg {
    //     color: #fff;
    //   }
    // }
  }
}
