@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.dropdown {
  &.opened {
    .dropdown_title {
      svg {
        transform: rotate(180deg);
      }
    }

    .dropdown_content {
      visibility: visible;
      height: 100%;

      .content_wrapper {
        filter: blur(0);
      }
    }
  }

  &_title {
    display: flex;
    gap: 0.25em;
    align-items: center;
    cursor: pointer;

    p {
      text-transform: uppercase;
      font-size: 0.9em;
    }

    svg {
      font-size: 1em;
      color: var.$clr-dark-normal;
      transition: transform 0.15s ease-in-out;
    }
  }

  &_content {
    background: var.$neutral_color_100;
    max-height: 500px;
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0 2em;
    box-shadow: 0 1px 10px #0003;
    transition: visibility 0.25s ease-in-out, height 0.25s ease-in-out;

    overflow: hidden;
    visibility: hidden;

    .content_wrapper {
      padding-bottom: 2em;
      padding-right: 0.5em;
      height: 100%;
      width: 100%;
      transition: filter 0.3s ease-in-out;
      filter: blur(1em);
      overflow: auto;

      @include mix.Scroll;
    }
  }
}
