@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.message {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 1em;
  background: var.$neutral_color_100;
  animation: slide 4s ease-in-out alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  box-shadow: 0 0 5px #0003;
  border-radius: 0.5em;

  h1{
    font-size: 1.25em;
  }

  @keyframes slide {
    0% {
      transform: translate(-100px, 0);
      opacity: 0;
    }

    10%,
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}
