@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 7em;

  &_size {
    width: 100%;
  }
}
