@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background: var.$neutral_color_100;
  border-top: 1px solid var.$clr-dark-normal;
  padding: 1em;
  color: var.$clr-dark-normal;
  
  overflow-x: clip;
  text-wrap: nowrap;

  &_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    p {
      text-align: center;

      &:last-child {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }

  &_button {
    width: 100%;
  }
}
